@import "tailwindcss";

@theme {
    /* Colors */
    --color-green-50: #30AF5B;
    --color-green-90: #292C27;

    --color-gray-10: #EEEEEE;
    --color-gray-20: #A2A2A2;
    --color-gray-30: #7B7B7B;
    --color-gray-50: #585858;
    --color-gray-90: #141414;

    --color-orange-50: #FF814C;
    --color-blue-70: #021639;
    --color-yellow-50: #FEC601;

    /* Screen sizes */
    --breakpoint-xs: 400px;
    --breakpoint-3xl: 1680px;
    --breakpoint-4xl: 2200px;

    /* Max width */
    --max-width-10xl: 1512px;

    /* Border radius */
    --radius-5xl: 40px;

    /* Flex Box */
    --flex-between: space-between;
    --flex-center: center;
    --flex-start: flex-start;
    --flex-end: flex-end;

    /* Background Images */
    --bg-img-campfire: url('/camp/campfire.jpg');
    --bg-img-tent: url('/camp/tent.jpg');
    --bg-pattren-white: url('/features/pattern-white.png');
    --bg-pattern-green: url('/get-app/pattern-green.png');
    --bg-pattern-destination: url('/hero/pattern-destination.png');

    /* Font sizes */
    --font-size-14: 14px;
    --font-size-16: 16px;
    --font-size-18: 18px;
    --font-size-20: 20px;
    --font-size-24: 24px;
    --font-size-32: 32px;
    --font-size-40: 40px;
    --font-size-52: 52px;
    --font-size-64: 64px;
    --font-size-88: 88px;
}


@utility c-flex-* {
    display: flex;
    align-items: center;
    justify-content: --value(--flex-*);
}

@utility c-regular-* {
    /* For size 40 and 64 manually add leading-[120%] */
    font-weight: 400;
    font-size: --value(--font-size-*);
}

@utility c-medium-* {
    font-weight: 600;
    font-size: --value(--font-size-*);
}

@utility c-bold-* {
    /* Form size 32 to 88 manually add leading-[120%] */
    font-weight: 700;
    font-size: --value(--font-size-*);
}

@utility c-bg-* {
    background-image: --value(--bg-*);
}

@utility c-max-container {
    @apply mx-auto max-w-[1440px];
}

@utility c-padding-container {
    @apply px-6 lg:px-20 3xl:px-0;
}

@utility scrollbar-hidden {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    &::-webkit-scrollbar {
        display: none; /* Chrome, Safari, Opera */
    }
}

.c-btn-dark-green {
    @apply bg-green-90 px-8 py-4 text-white transition-all hover:bg-black
}

.c-btn-dark-green-outline {
    @apply border-gray-20 bg-green-90 px-8 py-5 text-white
}

.c-btn-green {
    @apply border-green-50 bg-green-50 px-8 py-5 text-white
}

.c-btn-white {
    @apply border-white bg-white px-8 py-3 text-green-50
}

.c-btn-white-text {
    @apply border-white bg-white px-8 py-3 text-gray-90
}